* {
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    /* align-items: center;
    justify-content: center; */
}

.body {
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
}

.body h1 {
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    padding-top: 2rem;
    gap: .8rem;


}

nav ul {
    margin-left: 55rem;
}
.carrossel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
}

.container{
    display: flex;
    /* transition: transform 0.5s ease-in-out;
    transform: translateX(0); */
}

img {
    object-fit: cover;
    height: 500px;
    width: 800px;
}

header{
    display: flex;
    background: rgb(255, 166, 0);
    height: 8rem;
    width: 100%;
    padding: 3rem;
}

header a {
    justify-content: left;
}

nav {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}

a img {
    height: 100px;
    width: 100px;
}
ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 0.8rem;
}

header ul li:last-child {
    background: blue;
    color: white;
    padding: .8rem;
}

.containerImages2 + img{
    height: 20px;
    width: 20px;
    display: flex;

}

footer {
    display: flex;
    height: 8rem;
    align-items: center;
    justify-content: center;
    background: gray;
}